.body { 
    background-color: #e0e7ff;
    display: flex;
}

.container {
    display: flex;
    background-color: #e0e7ff;
    width: 100%;

}

.left-panel {
    flex: 1;
    padding: 40px;
    background-color: #e0e7ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.forgot-password {
    display: inline-block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


.right-panel {
    flex: 1;
    background-color: #e0e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.promo-img {
    max-width: 100%;
    border-radius: 10px;
}